body {
		text-align: center;
		background-color: #FEF5ED;
		font-family: 'Oswald', sans-serif;
}

/* navbar */
.navbar {
		padding: 1%;
}

.navbar .navbar-brand {
		font-size: 2.2rem;
}

.navbar .NAVNAME {
		display: inline-block;
}

.navbar .nav-item {
		margin: 0 5px;
}

/* FIRST PART */
#first-part {
		background-color: #FEF5ED;
		margin: 0 5%;
}

#first-part .h2-blog {
		text-align: left;
		margin-left: 1%;
		margin-top: 5%;
		margin-bottom: 3%;
}

#first-part .h4-blog {
		text-align: left;
		margin-left: 1%;
		margin-top: 0;
		margin-bottom: 2%;
}

#first-part .blog-p {
		color: #A19882;
		text-align: left;
		margin-left: 1%;
		width: 40%;
}

@media (max-width: 1200px) {
		#first-part .h4-blog {
				margin-bottom: 6%;
		}
		#first-part .h2-blog {
				margin-bottom: 6%;
		}
}

@media (max-width: 700px) {
		#first-part .blog-p {
				width: 100%;
		}
}

#first-part .card {
		margin: 2%;
		background-color: #Fff;
}

/* FOOTER */
#fourth-part {
		background-color: #FEF5ED;
		margin: 0 5%;
		padding-top: 1%;
}

#fourth-part .a-sotial {
		margin: 0 1%;
		color: #A19882;
}

#fourth-part .a-sotial:hover {
		margin: 0 1%;
		color: black;
}

#fourth-part .footer {
		height: 5rem;
}

#fourth-part .p-footer {
		color: black;
		margin-top: 2%;
}
