
body {
		text-align: center;
		background-color: #FEF5ED;
		font-family: 'Oswald', sans-serif;
}
.flag_line_1{
	height: 10px;
	background-color: blue;
}
.flag_line_2{
	height: 10px;
	background-color: yellow;
}
/* navbar */
.navbar {
		padding: 1%;
}

.navbar .navbar-brand {
		font-size: 2.2rem;
}

.navbar .NAVNAME {
		display: inline-block;
}

.navbar .nav-item {
		margin: 0 5px;
}

/* TITLE */
#title {
		background-color: #FEF5ED;
		margin: 0 5%;
}

#title .slider {
		padding: 2% 4%;
}

#title .buy-area {
		padding: 10%;
		background-image: url("../img/home page/course/background-1.webp");
		background-size: 88% 88%;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 105px;
}

#title .support-text {
		color: white;
		margin-top: 5%;
		font-size: 1.25rem;
}

@media (max-width: 1200px) {
		#title .buy-area {
				background-size: 92% 92%;
				border-radius: 45px;
		}
		#title .support-text {
				font-size: 1rem;
		}
}

/* SECOND PART */
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
#second-part {
		background-color: #FEF5ED;
		margin: 0 5%;
}

#second-part .post-1 {
		background-image: url("../img/home page/2nd-part/mirrorless-vs-dslr-photo.webp");
		background-repeat: no-repeat;
		background-size: 75%;
		background-position: center;
		padding: 1%;
}

@media (max-width: 1200px) {
		#second-part .post-1 {
				background-size: 90%;
		}
}
.img_ev{
	padding-top: 30px;
	position: relative;
	height: auto;
	width: 90%;
	border-radius: 15px;
}

#second-part .post-1-1 {
		margin-top: 48%;
}
#second-part .post-2-2 {
		margin-top: 40%;
		display: inline-block;
    margin-top: -15%;
		position:relative;
}
/* THIRD PART */
#third-part {
		background-color: #FEF5ED;
		margin: 0 5%;
}

#third-part .blog-h3 {
		margin-top: 5%;
}

#third-part .blog-p {
		color: #A19882;
}

#third-part .card {
		margin: 2%;
		background-color: #FFF;
		border: 0;
		border-radius: 15px;
}

#third-part .card-title {
    margin-bottom: 0.5rem;
    margin-top: 10px;
}
#third-part .blog-img {
		width: 100%;
		border-radius: 15px 15px 0 0;
}
#third-part .card-body{
    height: 200px;
}

#third-part .card-body .btn-outline-dark{
    position: absolute;
    bottom: 20px;
    left: 42%;
}
@media (max-width:450px){
    #third-part .card-body .btn-outline-dark {
    left: 37%;
    }
}

/* FOURTH PART */
#fourth-part {
		background-color: #FEF5ED;
		margin: 0 5%;
		padding-top: 1%;
}

#fourth-part .a-sotial {
		margin: 0 1%;
		color: #A19882;
}

#fourth-part .a-sotial:hover {
		margin: 0 1%;
		color: black;
}

#fourth-part .footer {
		height: 5rem;
	        width: 100%;
}

#fourth-part .p-footer {
		color: black;
		margin-top: 2%;
}
