body {
  text-align: center;
  background-color: #FEF5ED;
  font-family: 'Oswald', sans-serif;
}
/* navbar */

.navbar {
  padding: 1%;

  .navbar-brand {
    font-size: 2.2rem;
  }

  .NAVNAME {
    display: inline-block;
  }

  .nav-item {
    margin: 0 5px;
  }
}
/* FIRST PART */

#contact {
  background-color: #FEF5ED;
  margin: 0 5%;
  padding-top: 1%;

  .h2-blog {
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  @media (max-width:1200px) {
    .h2-blog {
      margin-bottom: 6%;
    }
  }

  .contact-p {
    color: #A19882;
    width: 30%;
    margin: 2% auto;
  }
  @media (max-width:1000px) {
    .contact-p {
      width: 80%;
      margin: 2% auto;
    }
  }

  .mb-3 {
    width: 40%;
    margin: auto;
  }
  @media (max-width:700px) {
    .mb-3 {
      width: 100%;
      margin: auto;
    }
  }
}
/* FOOTER */

#fourth-part {
  background-color: #FEF5ED;
  margin: 0 5%;
  padding-top: 1%;

  .a-sotial {
    margin: 0 1%;
    color: #A19882;
  }

  .a-sotial:hover {
    margin: 0 1%;
    color: black;
  }

  .footer {
    height: 5rem;
  }

  .p-footer {
    color: black;
    margin-top: 2%;
  }
}
